extends /mobile_layout

block head
  link(rel='stylesheet', href='/theme/jquery-ui/jquery-ui.min.css')
  link(rel='stylesheet', href='/stylesheets' + path + '.css')
  script(src='/javascripts/libs/jquery.min.js')
  script(src='/javascripts/libs/jquery-ui.min.js')
  script(type='text/javascript').
    $(function () {
      $('a').button ();

      var maxWidth = Math.max.apply (null, $('.ui-button').map (function () {
        return $(this).outerWidth (true);
      }).get ());

      $('.ui-button').css ({'width': maxWidth, 'text-align': 'left'});
    });

block content
  h2.hideondisconnect#matchname= matchname

  div#content
    div#error
      if (!squadList.length)
        p No squads defined in match (no competitors?)
      if (error)
        p #{error}

    div#squads
      table.center
        each squad, i in squadList
          tr
            td
              a(href='/mobile/#{thisStage}/#{squad.number}') #{squad.name}
